/* Geral */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    margin: 0 auto;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 600px;
    background: #f7c628;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.container img{
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
 
}

/* Títulos */

h1 {
    color: #800808;
    text-align: center;
    margin-bottom: 20px;
    font-family: cursive;
    margin-top: 0;
}

h2 {
    color: #800808;
    text-align: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: cursive;
}

h3{
    color: #eee;
    background-color: #c9a222;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: cursive;
}

.cart h2 {
    color: #800808;
    /*background-color: #59a7fa;*/
    text-align: center;
    border-radius: 10px;
    border-bottom: 0;
}

/* Produtos */

.products {
    margin-bottom: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #06c54f;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fafafa;
}

.product span {
    font-size: 16px;
    font-family: cursive;
    color: #585757;
}

.product button {
    background-color: #28a745;
    color: white;
    font-family: cursive;
    border: none;
    width: 40%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.product button:hover {
    background-color: #218838;
}

/* Carrinho */

.cart {
    
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
}

#cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color:#eee2e2;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid #ddd;
    font-family: cursive;
}

#cart-items button {
    background-color: #dc3545;
    color: white;
    font-family: cursive;
    width: 40%;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 800;
}

#cart-items button:hover {
    background-color: #c82333;
}

/* Total e Taxa */

#total, #total-with-fee {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #800808;
    text-align: center;
    font-family: cursive;
}

/* Campos e Botões */
label{
    font-family: cursive;
    margin-left: 30px;
    color: #800808;
    font-weight: bold;
}

input[type="tel"], select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 25px;
    font-family: cursive;
    font-weight: bold;
    color: #5e5c5c;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 90%;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: cursive;
}

button:hover {
    background-color: #0056b3;
}
